.product_content {
    margin: 10px 0px !important;
    padding: 12px;
    background-color: #fff;
    border-radius: 5px;
    color: #333;
}

.product-slider {
    background-color: #F5F5F7;
}

.product_img {
    width: 100%;
    height: 600px;
    /* transform: scale(0.9); */
}

.product_img_mini {
    width: 100px;
}

/* =============================================  End =============================================*/

/* =============================================  Product info =============================================*/

.info-name h3 {
    font-weight: 600;
}

.price-current .price_sale {
    color: #0066CC;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 0;
    font-weight: 600;
}

.price-old {
    margin: 7px 0 0 10px;
}

.price-current .price_old {
    font-size: 16px;
    text-decoration-line: line-through;
    letter-spacing: 1px;
    font-weight: 400;
    color: #888888;
    margin: 7px 0 0 12px;
}

.attribute-title {
    font-weight: 400;
    font-size: 16px;
    color: #515154;
    line-height: 20px;
    margin-bottom: 11px;
}

.option-list {
    display: flex;
}

.attribute-memory_label {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    padding: 8px 15.668px;
    cursor: pointer;
    min-width: 90px;
    min-height: 38px;
    margin: 0 6px;
}

.attribute-color_label {
    width: 28px !important;
    height: 28px !important;
    border-radius: 100%;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 10%);
    border: unset !important;
    margin: 0 6px;
}

.op_list_1 .form-group .active {
    border: 1px solid #0066cc !important;
}

.op_list_2 .form-group .active {
    /* background-color: #fff; */
    border-radius: 50%;
    border: 1px solid #0066cc !important;
    padding: 3px;
}

/* ============================================= End Product info =============================================*/

.short-des {
    margin: 0;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    margin-bottom: 15px;
}

.short-des_title {
    padding: 12px 16px 12px 15px;
    color: #1D1D1F;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* border-bottom: 1px solid #EFEFEF; */
    text-align: left;
}

.short-description {
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    padding: 0 20px 35px 33px;
    color: #515154;
    font-size: 15px;
}

.short-description p span strong a {
    color: #0066CC !important;
}

/* =============================================  Btn add to cart =============================================*/

.order-add {
    width: 100%;
    font-weight: bold !important;
    font-size: 17px !important;
    line-height: 25px !important;
    background: #0066CC;
    color: #fff;
    border: none !important;
    border-radius: 8px;
    width: 100%;
    height: 56px;
}

/* ============================================= End Btn add to cart =============================================*/


/* ============================================= Table detail product =============================================*/

.table-title {
    padding: 12px 0;
    background-color: red;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.table-box {
    width: 100%;
    height: 504px;
    overflow: hidden;
    padding: 12px 0;
    transition: all 0.5s;
}

.full-height {
    height: auto !important;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #dee2e6;
    transition: all 0.5s;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
table td,
table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

.compare_table {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}

/* post */

.description p,
.description div,
.description li,
.description h2,
.description h3,
.description h4,
.description a,
.description span {
    margin-bottom: 12px;
    line-height: 27px;
    margin-bottom: 10px;
    font-size: 16px !important;
}

.description img {
    width: 100%;
}

.btn-compare {
    padding: 2px 6px !important;
    font-size: 12px !important;
    margin-top: 12px !important;
    border-radius: 0 !important;
}
/* ============================================= End Table detail product =============================================*/

.product-post img {
    width: 100%;
}
