:root {
    --primary-color: #1a9d5d;
    --text-color: #575757;
    --violet: #142850;
    --header-height: 86px;
    --color-white: #ffffff;
    --color-nav-link: rgba(0, 0, 0, 0.55);
    --color-black: #333;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--color-white);
}

main.main-wrapper {
    /* background-image: url("https://images.fpt.shop/unsafe/fit-in/filters:quality(95):fill(transparent)/fptshop.com.vn/Uploads/Originals/2023/1/31/638107835827567565_desk-header-bg.png");
    background-color: rgb(255, 236, 236); */
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    padding-top: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

/* =============================================  Navbar =============================================*/

.header {
    border: 1px solid #e4e4e4;
    box-shadow: 0 0 10px rgb(180 180 180);
}

.nav-logo {
    height: 60px;
    margin-right: 10%;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link_a {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-nav-link);
    text-transform: capitalize;
}

.nav-item:hover .nav-link_a {
    text-decoration: underline;
    cursor: pointer;
}

.nav-item:hover .nav-active {
    text-decoration: none !important;
}

.nav-active {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--color-white) !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/* ===================== Icon Nav Bar ===================== */

.nav--icon {
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}

.box-nav_icon {
    padding: 9px 12px;
    cursor: pointer;
}

.box-nav_icon .icon {
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.box-nav_icon:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.box-nav_icon:hover .icon {
    color: var(--color-black);
}

/* =================== Nav cart =================== */
.cart-link_image {
    width: 46px;
    height: 46px;
}

.cart-link_name {
    width: 200px;
    margin: 0 12px;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-link_quantity {
    padding: 12px !important;
    font-weight: 600;
}

/* =================== End Nav cart =================== */

.search-box.search-active {
    display: block;
}

.search-box.search-active {
    display: block;
}
.search-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 76px;
    z-index: 5;
    border-radius: 3px;
    transform-origin: opacity, transform;
    -webkit-animation: ToptoBot 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: ToptoBot 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes ToptoBot {
    0% {
        -webkit-transform: translateZ(-86px) translateY(-86px);
        transform: translateZ(-86px) translateY(-86px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

.container-search {
    position: relative;
    background-color: #f0f0f0 !important;
    align-items: center !important;
    height: var(--header-height);
    justify-content: center !important;
    height: 76px;
}

.search-box__input {
    width: 60%;
    height: 42px;
    padding: 0 12px;
    border-radius: 4px;
    border: none;
    outline-color: var(--primary-color);
}

.search-box__btn {
    width: 100px;
    height: 42px;
    border: none;
    background-color: var(--primary-color);
    margin-left: 15px;
    border-radius: 4px;
    color: #fff;
}

.close__input {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 8px;
    z-index: 7;
    cursor: pointer;
}

.search-box .search-active {
    display: block;
}

/* =================== */

.cart,
.login {
    position: relative;
}

.cart_total {
    position: absolute;
    top: 0px;
    right: -7px;
    padding: 0px 7px;
    font-size: 13px;
    border-radius: 50%;
    background: #ccc;
    font-weight: 600;
}

.container-cart {
    position: absolute;
    display: none;
    background-color: var(--color-white);
    border-radius: 5px;
    z-index: 10;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding-left: 0;
    right: 0;
    transform: translateX(50px);
}

.cart-title {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.cart-title_total {
    text-decoration: underline;
    font-size: 18px;
    color: red;
    margin: 0 6px;
}

.container-login {
    position: absolute;
    display: none;
    background-color: var(--color-white);
    border-radius: 5px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding-left: 0;
    left: 0;
    transform: translateX(-50px);
}

.cart:hover .container-cart,
.login:hover .container-login {
    display: block;
}

.cart-item {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 12px 6px;
    border-bottom: 1px solid #ccc;
}

.cart-link_name:hover .cart-name {
    color: #1a9d5d;
    text-decoration: underline;
}

.login-item {
    list-style: none;
    width: 130px;
}

.cart-link,
.login-link {
    /* color: var(--text-color); */
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: #666;
    cursor: pointer;
}

/* .cart-item:hover .cart-link, */
.login-item:hover .login-link {
    background-color: #e8ebed;
    color: #1a1a1a;
    /* text-decoration: underline; */
}

/* ===================== End Icon Nav Bar ===================== */

/* =============================================  END slider show =============================================*/
.slider_image {
    width: 100%;
    height: 601px;
}

/* =============================================  END slider show =============================================*/

.filter-title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 12px;
    padding-left: 12px;
}

/* =============================================  Product =============================================*/


.product {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgb(160 160 160);
    background-color: var(--color-white);
}

.flag-installment {
    position: absolute;
    top: 8px;
    left: 6px;
    z-index: 1;
    background: #fff;
    color: #be1e2d;
    border: 1px solid #feb913;
    border-radius: 5px !important;
    -webkit-border-radius: 2px;
    font-size: 11px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px 6px;
    cursor: pointer;
}

.percent-deal {
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 99999;
    background: #be1e2d;
    color: #fff;
    border-radius: 5px !important;
    font-size: 13px;
    padding: 3px 6px;
    cursor: pointer;
}

.product-img {
    width: 100%;
}

.product-image {
    transform: scale(0.9);
    width: 100%;
    min-height: 320px;
    padding: 14px 0;
}

.product-name {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #1d1d1f;
    padding: 14px 0;
}

.product-name span {
    padding: 0 14px;
    display: block;
    color: #1d1d1f;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.old-price {
    color: #86868b;
    margin: 0 5px 0 5px;
    font-size: 15px;
    line-height: 24px;
    text-decoration: line-through;
}

.actual-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #0066cc;
}

.product:hover .product-image {
    transform: scale(1);
    transition: all 0.5s;
}

/* =============================================  End Product =============================================*/

/* =============================================  Card product =============================================*/
/* .card {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-image {
    transform: scale(0.9);
}

.card-name {
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-price {
    color: #444;
    line-height: 1.4;
    align-items: flex-end;
    font-family: sans-serif;
    display: flex;
    font-weight: 700;
    justify-content: space-around;
}

.card-price_show {
    display: inline-block;
    margin-bottom: 10px !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    color: #d70018;
    font-size: 16px;
}

.card-price_through {
    display: inline-block;
    margin: 0 0 10px 10px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: line-through;
    color: #707070;
    position: relative;
    top: 2px;
    font-size: 14px;
}

.promotion {
    width: auto;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    background: #f3f4f6;
    align-items: flex-start;
    margin-left: 0;
    font-size: 12px;
    line-height: 1.5;
    text-transform: none;
    overflow: hidden;
}

.coupon-price {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn-order {
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

.btn-order .card-order_1 {
    margin-top: 10px;
    padding: 6px 10px;
    border: 1px solid red;
    color: red;
    font-size: 13px;
}

.btn-order .card-order_2 {
    margin-top: 10px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.card:hover .card-image {
    transition: all 0.5s;
    transform: scale(1);
}

.add-to-cart {
    background-color: #1d1d1f;
} */

/* =============================================  END Card product =============================================*/

/* =============================================  END =============================================*/
.footer {
    background-color: var(--violet);
    padding: 20px 0 40px 0;
    color: var(--color-white);
}

.footer-item {
    padding: 0;
    list-style: none;
}

.footer h5 {
    color: rgb(241, 241, 241);
    text-transform: capitalize;
}

.footer-title {
    padding: 20px 0;
}

.footer p,
.footer span,
.footer a {
    line-height: 1.6rem;
    font-size: 1rem;
    color: rgb(189, 189, 189);
    text-transform: capitalize;
}

.p-info {
    display: flex;
}

.footer a {
    text-decoration: none;
}

.icon-right {
    position: relative;
    color: #999;
    bottom: -8px;
    font-size: 0.7rem;
    margin-right: 8px;
}

.copyright {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 24px;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.7);
    background-image: url(https://i.stack.imgur.com/MnyxU.gif);
    background-repeat: no-repeat;
    background-position: center;
}

