* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
	/* background-image: url('https://img3.thuthuatphanmem.vn/uploads/2019/09/17/background-tet-nguyen-dan_105957525.jpg'); */
}

p {
    margin-bottom: 0;
}

/*
    Navbar
*/
.nav-header {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

/*
    NavBar C1
*/
.nav-c1 {
	background-color: red !important;
	width: 100%;
}

.nav-logo,
.image {
	max-width: 200px;
	max-height: 46px;
}

.staggered-menu {
	background: hsla(0, 0%, 100%, 0.3);
	border: none;
	border-radius: 5px;
	font-size: 14px;
	padding: 8px;
	color: #fff;
}

.dropdown-menu_items {
	width: 205px;
	transform: translateX(-50%) translateY(5%);
}

.form-search {
	position: relative;
}

.icon-search {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.keywords-search {
	width: 350px;
}

.form-control:focus {
	/* border-color: #333 !important; */
	box-shadow: none !important;
}

.nav-post {
	position: relative;
}

.nav-link {
	color: #333 !important;
}

.nav-link:hover {
	color: #0168fa !important;
}

.cart-shopping,
.posts,
.payment,
.user {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
    Navbar c2
*/

.nav-c2 {
	background-color: #333;
	padding: 4px;
	width: 100%;
}

.nav-c2_box {
	width: 1320px;
	display: flex;
	justify-content: space-around;
}

.nav-c2_link {
	color: #fff !important;
}

.nav-c2_item:hover > .nav-c2_link {
	color: #aaa !important;
	cursor: pointer;
}

/*

*/
.slidershow_countdown {
	margin-top: 100px;
	padding: 0 6px !important;
	background-color: #fff;
	border-radius: 5px;
}

.sliderShow_img {
	transition: all 1s;
	width: 100%;
	max-height: 330px;
	border-radius: 5px;
}

.cate-title {
	padding: 12px 0;
	background: rgb(255, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	margin-bottom: 1.5px;
}

/* .cate-content {
	margin-bottom: 1.5px;
}

.text-uppercase {
	text-transform: uppercase;
}

.cate-link {
	font-size: 15px;
	font-weight: 500;
}

.cate-link .fa-chevron-right {
	font-size: 12px;
} */

.support {
	padding: 0;
	margin-top: 3px;
	display: flex;
	justify-content: space-between;
	border-color: rgba(0, 0, 0, 0.12);
	align-items: center;
}

.support-item {
	margin: 0 -5px;
	border-radius: 5px;
	margin-top: 8px;
	transition: all 0.5s;
}

.support-item:hover .nav-link {
	transform: scale(1.1);
	transition: all 0.5s;
}

/* .content {
	margin-top: 12px;
	border-radius: 5px;
	padding: 0 6px !important;
	background-color: #fff;
    display: flex;
    gap: 12px 0 !important;
    flex-direction: column;
} */

/* Ưu đãi thanh toán */
.incentives {
    padding: 12px 0;

}

.incentives_image {
	width: 100%;
}

.incentives_image .incentives_img {
	width: 100%;
	border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.footer-colum h6 {
	font-size: 18px;
	font-weight: 600;
	color: white;
}

.footer-colum .column-list a {
	font-size: 14px;
	font-weight: 400;
	color: white !important;
}

/* End */
