
.content-modal i {
    font-size: 34px !important;
    display: block !important;
    text-align: center !important;
    color: #FFF !important;
}

.content-modal_title {
    text-align: center !important;
    text-align: center !important;
    margin-top: 18px;
    margin-bottom: 0;
    color: #007bff;
    font-size: 18px;
}

.fa-question:before {
    content: "\3f";
    background-color: #dc3545;
    padding: 12px 18px;
    border-radius: 50%;
}
