
.total_money {
    border: none;
    font-weight: 700;
    background-color: #fff;
    color: #333;
}

.total-payment:focus{
    outline: none;
}

.product_price {
    border: none;
    background-color: #fff !important;
    max-width: 130px;
}

.product_price:focus {
    outline: none;
}


/* =========================================================================== */
.modal-show {
    animation: modalShow 0.5s ease;
}

@keyframes modalShow {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0);
    }
}
