/*
    Product
*/
.content {
	margin-top: 12px;
	border-radius: 5px;
	padding: 0 6px !important;
	background-color: #fff;
    display: flex;
    gap: 12px 0 !important;
    flex-direction: column;
}

/* .product-filter, */
.product-show {
	padding: 12px 0;
}

.product-title h2 {
	font-weight: 600;
	color: #444;
	display: block;
	font-size: 24px;
	line-height: 40px;
	margin-bottom: unset;
	text-transform: uppercase;
}

.filter-title {
    font-weight: 600;
}

.form-check {
    margin-bottom: 1rem !important;
}

.form-check-label {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #4d4d4d !important;
    cursor: pointer !important;
}



