
/* ======================================== Comment ======================================== */
.view_post img {
    width: 100% !important;
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* Ignore above this. */
.comment-input {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-areas: "avatar comment";
}
.avatar {
    border-radius: 50%;
    grid-area: avatar;
    background: #fc0;
    height: 64px;
    width: 64px;
}
.input {
    grid-area: comment;
    background: #fefefe;
    padding: 1rem;
}
.comment-list {
    margin-top: 2rem;
    grid-column-end: span 2;
}

.comment-item {
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-areas:
        "avatar comment"
        "meta meta";
    background: rgba(0, 0, 0, 0.05);
    padding: 1rem 1rem 0 1rem;
    border-radius: 5px;
}
.comment {
    grid-area: comment;
    padding: 6px 12px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500
}
.meta {
    grid-area: meta;
    display: flex;
    align-items: center;
    padding: 6px 12px;
}
.comment-item > .comment-list {
    padding-left: 2rem;
}

.date_comment {
    padding: 6px 12px;
    font-size: 12px;
    color: #86868b;
}

.trl-comment {
    font-size: 14px;
    font-weight: 400;
    color: #0d6efd;
    margin-left: 12px;
    cursor: pointer;
}



/* ======================================================================== */
.comment-item table {
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
    border: 1px solid #e3e6f0;
    border-collapse: collapse;
}

.comment-item > table, th, tr, td {
    border-bottom-width: 2px;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3e6f0;
}

td, .table-bordered th {
    border: 1px solid #e3e6f0;
}

table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e3e6f0;
}

th, td {
    position: relative;
    vertical-align: middle!important;
    text-align: center!important;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    position: relative;
    vertical-align: middle!important;
    text-align: center!important;
    border: 1px solid #e3e6f0;
}
