



/* =============================================  Content =============================================*/

.background-white {
    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    min-height: 500px;
}

.title-page {

    margin: 0 -12px;
    /* background-color: bisque !important; */
    padding: 12px 12px;
    border-radius: 5px 5px 0 0;
}

th, td {
    color: #333 !important;
}

th a {
    color: #333 !important;
    text-decoration: none !important;
}

input, select {
    height: 46px !important;
}

input[type="file"] {
    padding: 7px 12px !important;
}

/* =============================================  End content =============================================*/


.admin_name {
    color: #333;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}

.admin_name-dropdown {
    /* display: none; */
    position: absolute;
    padding: 12px;
    top: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    z-index: 9999;
}

.admin_name-dropdown a {
    width: 100px;
    color: #333 !important;
}

.admin_name-dropdown a:hover {
    text-decoration: none !important;
    color: #4e73df !important;
}


/* ================================================================================= */

th, td {
    position: relative;
    vertical-align: middle!important;
    text-align: center!important;
}

.right-left {
    position: absolute;
    transform: rotate(90deg) translateX(-50%);
    top: 50%;
    right: 10px;
    font-size: 12px;
    cursor: pointer;
}

.active {
    color: #4e73df !important;
}

.right-left:hover {
    color: #4e73df !important;
}

/* ===================================== Modal Comfirm ============================================ */
.content-modal i {
    font-size: 50px !important;
    display: block !important;
    text-align: center !important;
    color: red !important;
}

.content-modal_title {
    text-align: center !important;
    text-align: center !important;
    margin-top: 18px;
    margin-bottom: 0;
    color: #007bff;
    font-size: 18px;
}
